<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sanda.wtf.pefectmatch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".ManagerProfile" />
        <activity android:name=".ApplicantProfile" />
        <activity android:name=".ApplicantSignUp" />
        <activity android:name=".GeneralApplicantInfo" />
        <activity android:name=".CoursesApplicantInfo" />
        <activity android:name=".PreferencesApplicantInfo" />
        <activity android:name=".MessageApplicant" />
    </application>

</manifest>